<?xml version="1.0" encoding="UTF-8"?>
<data>
<Stage Scale="noScale">
</Stage>
<Buttons count="1">

		<Btn id="btn1"  movieclip="mc1"   out=""     over="">http://www.baidu.com</Btn>

                <Btn id="btn2"  movieclip="mc2"   out=""     over="">http://www.baidu.com</Btn>

</Buttons>

<swfs>
		
</swfs>
</data>