
/*demo's css*/
body{
	position: relative;
}
.demo{
	font-size: 2em;
	cursor: pointer;
	color: #49B4F2;
}
.demo:hover{
	text-decoration: underline;
	color: red;
}
.demoDiv{
	font-size: 1.4em;
	position: absolute;
	top:0;
	left: 0;
	/*height: auto !important;*/
	display: none;
	background:rgba(0,0,0,0.75);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
	/*width:100%;*/

}
.demoDivInner{
	position: relative;
	background-color: #fff;
	width: 800px;
	/*height: 100%;*/
	/*margin-left: auto;
	margin-right: auto;*/
	/*padding-bottom: 40px;*/
	/*height: auto !important;
	height:auto;*/
}
.demoDivInner .article{
	/*padding-top: 0;*/
	padding-left: 20px;
	border-bottom: 2px solid #2B2C30;
}
.close{
	font-size: 4em;
	color: #2B2C30;
	line-height: 1;
	text-align: right;
	cursor: pointer;
}



/*-------------clock'css-------------*/
#BenjaminClcok {
	position: relative;
    background-color: #37383E;
    border-radius: 110px 110px 110px 110px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 220px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    top:100px;
}
#BenjaminClcok:before {
    background-color: #2B2C30;
    border-radius: 90px 90px 90px 90px;
    content: "";
    height: 180px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 180px;
}
#BenjaminClcok:after {
    background-color: #37383E;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 4px #B4B4B4 inset;
    content: "";
    height: 16px;
    left: 102px;
    position: absolute;
    top: 102px;
    width: 16px;
}
.graduation{
	position: absolute;
	top: 0;
	left: 0;
	height: 220px;
    width: 220px;
}
.clockName {
    color: #FFFFFF;
    left: 53px;
    opacity: 0.3;
    position: absolute;
    top: 120px;
}
.graduation li, .pointer li {
    display: inline-block;
    position: absolute;
}
.graduation li:nth-child(1) {
	-moz-transform:translate(102px, 0px);
	-webkit-transform:translate(102px, 0px);
    transform: translate(102px, 0px);
}
.graduation li:nth-child(2) {
	top:12px;
	right: 56px;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
    transform:rotate(30deg);
}
.graduation li:nth-child(3) {
	top:48px;
	right: 20px;
	-moz-transform:rotate(60deg);
	-webkit-transform:rotate(60deg);
    transform:rotate(60deg);
}
.graduation li:nth-child(4) {
	top:98px;
	right: 4px;
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.graduation li:nth-child(5) {
	top:150px;
	right: 18px;
	-moz-transform:rotate(120deg);
	-webkit-transform:rotate(120deg);
    transform:srotate(120deg);
}
.graduation li:nth-child(6) {
	top:184px;
	right: 57px;
	-moz-transform:rotate(150deg);
	-webkit-transform:rotate(150deg);
    transform:rotate(150deg);
}
.graduation li:nth-child(7) {
	top:198px;
	left: 104px;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.graduation li:nth-child(8) {
	top:185px;
	left: 52px;
	-moz-transform:rotate(210deg);
	-webkit-transform:rotate(210deg);
    transform:rotate(210deg);
}
.graduation li:nth-child(9) {
	top:150px;
	left: 15px;
	-moz-transform:rotate(240deg);
	-webkit-transform:rotate(240deg);
    transform:rotate(240deg);
}
.graduation li:nth-child(10) {
	top:102px;
	left: 4px;
	-moz-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
    transform:rotate(270deg);
}
.graduation li:nth-child(11) {
	top:48px;
	left: 17px;
	-moz-transform:rotate(300deg);
	-webkit-transform:rotate(300deg);
    transform:rotate(300deg);
}
.graduation li:nth-child(12) {
	top:12px;
	left: 56px;
	-moz-transform:rotate(330deg);
	-webkit-transform:rotate(330deg);
    transform:rotate(330deg);
}
.pointer li {
	-moz-transform-origin:left center;
	-webkit-transform-origin:left center;
    transform-origin: left center;
}
.hour {
    background-color: red;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    height: 6px;
    left: 110px;
    position: absolute;
    top: 107px;
    width: 60px;
}
.minute {
    background-color: #49B4F2;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    height: 4px;
    left: 110px;
    position: absolute;
    top: 108px;
    width: 70px;
}
.second {
    background-color: #FFFFFF;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    height: 2px;
    left: 110px;
    position: absolute;
    top: 109px;
    width: 80px;
}




/*-------------egg'css-------------*/
.loading{
	position: relative;
	background-color: #262626;
	height: 300px;
	margin-top: 20px;
}
.egg{
	position: absolute;
	left: 400px;
	top: -43px;
	height: 180px;
	width: 120px;
	background-color: #ffffff;
	border: solid 2px #000000;
	border-radius: 60px/80px;
	box-shadow: 1px 1px 15px #FFFF00;
}

.egg:after{
	content: '';
	height: 180px;
	width: 120px;
	background-color: #ffffff;
	border: solid 2px #000000;
	border-radius: 65px/80px;
	position: absolute;
	top:1px;
	left: 1px;
}
.egg i{
	border: 1px solid #000000;
	/*background-color: #ffffff;*/
	z-index: 999;
}
.egg i:nth-child(1){
	position: absolute;
	top:90px;
	width: 0;
	height: 0;	
	border-left:none;
	border-bottom: none;		
	opacity:0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform-origin:left top;
	-moz-transform-origin:left top;			
}
.egg i:nth-child(2){
	position: absolute;
	top:110px;
	left:62px;
	width: 0;
	height: 0;
	border-left:none;
	border-bottom: none;
	opacity:0;
	-webkit-transform-origin:left top;
	-moz-transform-origin:left top;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);				
}
.animation #egg_first i:nth-child(1){
	background-color: #ffffff;
	-webkit-animation: eggbroke1 1000ms linear;
	-moz-animation: eggbroke1 1000ms linear;
	width:30px;
	height:57px;
	opacity:1;
	background-color: #262626;
}
.animation #egg_first i:nth-child(2){
	background-color: #ffffff;
	-webkit-animation: eggbroke2 2000ms linear;
	-moz-animation: eggbroke2 2000ms linear;
	width:57px;
	height:28px;
	opacity:1;
	background-color: #262626;
}
.animation #egg_second i:nth-child(1){
	border-left:1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	-webkit-animation: eggbroke1 1000ms linear;
	-moz-animation: eggbroke1 1000ms linear;
	width:30px;
	height:57px;
	opacity:1;
	background-color: #ffffff;
}
.animation #egg_second i:nth-child(2){
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	-webkit-animation: eggbroke2 2000ms linear;
	-moz-animation: eggbroke2 2000ms linear;
	width:57px;
	height:28px;
	opacity:1;
	background-color: #ffffff;
}
.animation #egg_first{
	-webkit-animation: eggmove1 3000ms linear;
	-moz-animation: eggmove1 3000ms linear;
	top:-7px;
}
.animation #egg_second{
	-webkit-animation: eggmove2 3000ms linear;
	-moz-animation: eggmove2 3000ms linear;
	top:93px;
}
@-webkit-keyframes eggbroke1{
	0%{
		width: 0;
		height: 0;
		opacity:0;
	}
	74%{
		width: 0;
		height: 0;
		opacity:0;
	}
	75%{
		width:30px;
		height:0;
		opacity:0;
	}
	76%{
		width:30px;
		height:0;
		opacity:1;
	}
	99%{
		width:30px;
		height:0px;
		opacity:1;
	}
	100%{
		width:30px;
		height:57px;
		opacity:1;
	}
}
@-moz-keyframes eggbroke1{
	0%{
		width: 0;
		height: 0;
		opacity:0;
	}
	74%{
		width: 0;
		height: 0;
		opacity:0;
	}
	75%{
		width:30px;
		height:0;
		opacity:0;
	}
	76%{
		width:30px;
		height:0;
		opacity:1;
	}
	99%{
		width:30px;
		height:0px;
		opacity:1;
	}
	100%{
		width:30px;
		height:57px;
		opacity:1;
	}
}
@-webkit-keyframes eggbroke2{
	0%{
		width: 0;
		height: 0;
		opacity:0;
	}
	74%{
		width: 0;
		height: 0;
		opacity:0;
	}
	75%{
		width:57px;
		height:0;
		opacity:0;
	}
	76%{
		width:57px;
		height:0;
		opacity:1;
	}
	99%{
		width:57px;
		height:0px;
		opacity:1;
	}
	100%{
		width:57px;
		height:28px;
		opacity:1;
	}
}
@-moz-keyframes eggbroke2{
	0%{
		width: 0;
		height: 0;
		opacity:0;
	}
	74%{
		width: 0;
		height: 0;
		opacity:0;
	}
	75%{
		width:57px;
		height:0;
		opacity:0;
	}
	76%{
		width:57px;
		height:0;
		opacity:1;
	}
	99%{
		width:57px;
		height:0px;
		opacity:1;
	}
	100%{
		width:57px;
		height:28px;
		opacity:1;
	}
}
@-webkit-keyframes eggmove1{
	0%{
		top:43px;
	}
	99%{
		top:43px;
	}
	100%{
		top:-7px;
		
	}
}
@-moz-keyframes eggmove1{
	0%{
		top:43px;
	}
	99%{
		top:43px;
	}
	100%{
		top:-7px;
		
	}
}
@-webkit-keyframes eggmove2{
	0%{
		top:43px;
	}
	99%{
		top:43px;
	}
	100%{
		top:93px;
	}
	
}
@-moz-keyframes eggmove2{
	0%{
		top:43px;
	}
	99%{
		top:43px;
	}
	100%{
		top:93px;
	}
	
}
@-webkit-keyframes showcover{
	0%{
		height:0;
		top:47px;
	}
	99%{
		height:0;
		top:47px;
	}
	100%{
		height:100px;
		top:83px;
	}
}
@-moz-keyframes showcover{
	0%{
		height:0;
		top:47px;
	}
	99%{
		height:0;
		top:47px;
	}
	100%{
		height:100px;
		top:83px;
	}
}

@-webkit-keyframes showcover2{
	0%{
		opacity:0;
	}
	99%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@-moz-keyframes showcover2{
	0%{
		opacity:0;
	}
	99%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
.cover{
	position: absolute;
	width:160px;
	left: 380px;
	top:47px;			
	text-align:center;
	font-weight:bold;
	color: red;
	z-index: 800;
}
.animation .cover{
	background-color: #262626;
	-webkit-animation: showcover 3000ms linear;
	-moz-animation: showcover 3000ms linear;
	height:100px;
	top:83px;
}
.animation .cover2{
	position:absolute;
	top:46px;
	left:440px;
	width: 50px;
	height:50px;
	background-color: #ffffff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	z-index: 801;
	opacity:0;
	-webkit-animation: showcover2 3000ms linear;
	-moz-animation: showcover2 3000ms linear;
	opacity: 1;
}
.animation .cover2:after{
	content:'';
	position:absolute;
	top:70px;
	left:90px;
	width: 50px;
	height:50px;
	background-color: #262626;
}


/*photoPlayer's css*/
#photoPlayer{
	position: relative;
	height:400px;
	margin-top: 20px;
	background-color: #2B2C30;
}
.photomain{
	text-align: center;
}
.photobottom{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
	width: 800px;
	height: 100px;
	text-align: center;
}
.focus{
	height:400px;	
}
.photolist{
	position: relative;
	width: 480px;
	margin-right: auto;
	margin-left: auto;
}
.item{
	padding:10px;
	width: 100px;
	height: 80px;
	float: left;
	cursor: pointer;
}
.frame{
	position: absolute;
	top:0;
	left: 0;
	border: 4px solid #fff;
	width: 110px;
	height: 92px;
	cursor: pointer;
}


/*Cardgame's css*/
.timer{

}
.cardgame{
	margin-top: 10px;
	text-align: center;
	background: #a46740 url(../images/bg.jpg);
}
#game{
	border-radius: 10px;
	border: 1px solid #666;
	background: #232 url(../images/table.jpg);
	width: 500px;
	height: 460px;
	margin-left: auto;
	margin-right: auto;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align: center;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align: center;
}
#cards{
	position: relative;
	width: 380px;
	height: 400px;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align: center;
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align: center;
}
.card{
	position: absolute;
	-webkit-perspective: 600;
	-moz-perspective: 600;
	width: 80px;
	height: 120px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	cursor: pointer;
}
.face{
	border-radius: 10px;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition-property: opacity,transform,box-shadow;
	-moz-transition-property: opacity,transform,box-shadow;
	-webkit-transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}
.front{
	background: #999 url(../images/deck.png) 0 -480px;
	z-index: 10;
}
.back{
	background: #efefef url(../images/deck.png);
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	z-index: 8; 
}
.card:hover .face,.card-flipped .face{
	-webkit-box-shadow: 0 0 10px #aaa;
	-moz-box-shadow: 0 0 10px #aaa;
}
.card-flipped .front{
	-webkit-transform:rotate3d(0,1,0,180deg);
	-moz-transform:rotate3d(0,1,0,180deg);
	z-index: 8;
}
.card-flipped .back{
	-webkit-transform:rotate3d(0,1,0,0deg);
	-moz-transform:rotate3d(0,1,0,0deg);
	z-index: 10;
}
.card-removed{
	opacity: 0;
}
.cardAJ{
	background-position: 0 0;
}
.cardAQ{
	background-position: -80px 0;
}
.cardAK{
	background-position: -160px 0;
}
.cardBJ{
	background-position: -00px -120px;
}
.cardBQ{
	background-position: -80px -120px;
}
.cardBK{
	background-position: -160px -120px;
}
.cardCJ{
	background-position: -0 -240px;
}
.cardCQ{
	background-position: -80px -240px;
}
.cardCK{
	background-position: -160px -240px;
}
.cardDJ{
	background-position: 0 -360px;
}
.cardDQ{
	background-position: -80px -360px;
}
.cardDK{
	background-position: -160px -360px;
}
header,footer,#timer{
	padding-top:10px;
	padding-bottom: 10px;
	color: white;
}
.hide{
	display:none;
}
#popup{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -120px;
	margin-left: -170px;
	color: #2B2C30;
	font-weight:bold;
	font-size: 1.4em;
	line-height: 2em;
	border:12px solid #2B2C30;
	text-align: center;
}
#popup h2{
	font-size: 2em;
}
#popup-box{
	position: relative;
	padding-top: 20px;
	height: 250px;
	width: 340px;
	border-radius: 10px;
	background:#fff url(../images/popup_bg.jpg) no-repeat top left;
	box-shadow: 6px 6px 6px #333;
}
.ribbon{
	float: left;
	position: absolute;
	left: -7px;
	top:145px;
	z-index: 0;
	font-size: .5em;
	text-transform: uppercase;
	text-align: right;
	line-height: 1em;
}
.ribbon .hide{
	display:none;
}
.ribbon-body{
	height: 14px;
	background-color: #ca3d33;
	padding: 6px;
	z-index: 100;
	-webkit-box-shadow:2px 2px 0 rgba(150,120,70,.4);
	border-radius: 0 5px 5px 0;
	color: #fff;
	text-shadow:0 1px 1px rgba(0,0,0,.3);
}
.triangle{
	position: relative;
	height: 0px;
	width: 0px;
	left: -5px;
	top:-32px;
	border-style: solid;
	border-width: 6px;
	border-color: transparent #882011 transparent transparent;
	z-index: -1;
}
#replay{
	display: block;
	background-color: #ca3d33;
	color:#fff;
	width: 80px;
	height: 40px;
	margin: 10px auto;
	border-radius: 5px;
	cursor: pointer;
}
#replay:hover{
	box-shadow: 0px 0px 4px #fff;
}
/*dollplay'css*/
.dollplay{
	position: relative;
	margin-top: 20px;
	height: 700px;
	background-color: rgba(0,0,0,1);
	-webkit-animation: Dawn 20s linear alternate;
	-moz-animation: Dawn 20s linear alternate;
	background-color: rgba(0,0,0,0); 
}
.cloud{
	position: absolute;
	top:100px;
	left: 60px;
	width: 140px;
	height: 80px;
	border: 1px solid #b4b4b4;
	border-radius: 80px 30px;
	background-color: #ffffff;
	box-shadow: 0 0 30px #b4b4b4 inset;
}

.sun{
	position: absolute;
	top:120px;
	left: 100px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: red;
	box-shadow: 0 0 80px #DAA520;
	-webkit-animation: sunMove 20s linear alternate;
	-moz-animation: sunMove 20s linear alternate;
	top:20px;
}
.sunnyDoll{
	position: absolute;
	left:450px;
	top:350px;
	box-shadow:0 0 80px #DAA520;
	z-index:600;
}
.dollHead{
	position: absolute;
	top:0;
	left:0;
	width: 96px;
	height: 100px;
	border: solid 1px #b4b4b4;
	border-radius: 50px 50px 50px 50px/55px 55px 55px 55px;
	background-color: #fefefe;
	box-shadow: -2px -2px 10px #b4b4b4 inset;
	z-index: 999;
}
		
		.dollEye{
			position: absolute;
			top: 20px;
			width: 5px;
			height: 10px;
			border-radius: 5px 5px 4px 4px/5px 5px 5px 5px;
			background-color: #000000;
			-webkit-animation: dollWink 3s linear infinite alternate;
			-moz-animation: dollWink 3s linear infinite alternate;
		}
		.leftEye{	
			left: 33px;			
		}
		.leftEye:after{
			content: '';
			width: 2px;
			height: 2px;
			background-color: #ffffff;
			border-radius: 1px;
			position: absolute;
			top:2px;
			right: 2px;
		}
		.rightEye{
			left:60px;
		}
		.rightEye:after{
			content: '';
			width: 2px;
			height: 2px;
			background-color: #ffffff;
			border-radius: 1px;
			position: absolute;
			top:2px;
			right: 2px
		}
		.mouse{
			position: absolute;
			top:75px;
			left:45px;
			width: 7px;
			height: 4px;
			border-radius: 1px;
			background-color: #3a3b36;
		}
		.mouse:after{
			content: '';
			width: 4px;
			height: 3px;
			position: absolute;
			top:0;
			left: 2px;
			background-color: #000000;
		}
		.dollBody{
			background-color: #ffffff;
			position: absolute;
			top:100px;
			left:0px;
			height:100px;
			width: 100px;
			border: 1px solid #b4b4b4;
			border-radius: 10px 20px;
			box-shadow: 0px 0px 5px #b4b4b4 inset;
			-webkit-transform: rotate(45deg);
			-webkit-animation: dollFly 3s linear infinite alternate;
			-moz-transform: rotate(45deg);
			-moz-animation: dollFly 3s linear infinite alternate;
		}
		.dollTail{
			position: absolute;
			height:120px;
			width: 120px;
			border-radius: 10px 110px;
			border:1px solid #b4b4b4;
			background-color: #ffffff;
			box-shadow: 0px 0px 10px #b4b4b4 inset;
			z-index: 888;
		}
		.dollShadow{
			position: absolute;
			top:350px;
			left:880px;
			-webkit-transform:skew(-60deg) ;
			-webkit-animation: showShadow 80s linear alternate;
			-moz-transform:skew(-60deg) ;
			-moz-animation: showShadow 80s linear alternate;
			opacity:1;
			z-index:599;
			top:350px;
			left:880px;
			-webkit-transform:skew(-60deg) ;
			-moz-transform:skew(-60deg) ;	
		}
		.dollShadow .dollHead{
			background-color:#b4b4b4;
			border:none;
		}
		.dollShadow .dollBody{
			background-color:#b4b4b4;
			border:none;
		}
		.dollShadow .dollTail{
			background-color:#b4b4b4;
			border:none;
		}
		.dollShadow .dollEye,.dollShadow .mouse{
			display: none;
		}
		
@-webkit-keyframes showShadow{
	0%{
		opacity:0;
		-webkit-transform:skew(-60deg) ;
	}
	13%{
		opacity:0;	
		-webkit-transform:skew(-60deg) ;
	}
	25%{
		opacity:1;
		
		-webkit-transform:skew(-60deg) ;
	}
	100%{
		opacity:1;
	}
}
@-moz-keyframes showShadow{
	0%{
		opacity:0;
		-moz-transform:skew(-60deg) ;
	}
	13%{
		opacity:0;	
		-moz-transform:skew(-60deg) ;
	}
	25%{
		opacity:1;
		
		-moz-transform:skew(-60deg) ;
	}
	100%{
		opacity:1;
	}
}

		@-webkit-keyframes Dawn{
			0%{
				background-color: rgba(0,0,0,1);

			}
			
			100%{
				background-color: rgba(0,0,0,0);
			}
		}
		@-moz-keyframes Dawn{
			0%{
				background-color: rgba(0,0,0,1);

			}
			
			100%{
				background-color: rgba(0,0,0,0);
			}
		}
		@-webkit-keyframes sunMove{
			0%{
				top:120px;
			}
			100%{
				top:20px;
			}
		}
		@-moz-keyframes sunMove{
			0%{
				top:120px;
			}
			100%{
				top:20px;
			}
		}
		@-webkit-keyframes dollMove{
			0%{
				top:350px;
				left:850px;
			}
			100%{
				top:35px;
				left:85px;
			}
		}
		@-moz-keyframes dollMove{
			0%{
				top:350px;
				left:850px;
			}
			100%{
				top:35px;
				left:85px;
			}
		}
		@-webkit-keyframes dollFly{
			0%{
				border-radius: 10px 20px;
			}
			50%{
				border-radius: 10px 30px;
			}
			100%{
				border-radius: 10px 20px;
			}
		}
		@-moz-keyframes dollFly{
			0%{
				border-radius: 10px 20px;
			}
			50%{
				border-radius: 10px 30px;
			}
			100%{
				border-radius: 10px 20px;
			}
		}
@-webkit-keyframes dollWink{
	0%{
		top:20px;
		height: 10px;
	}
	97%{
		top:20px;
		height: 10px;
	}
	100%{
		height: 2px;
		top:26px;
	}
}
@-moz-keyframes dollWink{
	0%{
		top:20px;
		height: 10px;
	}
	97%{
		top:20px;
		height: 10px;
	}
	100%{
		height: 2px;
		top:26px;
	}
}